coracao.cpp
cores.c
FazoL.m4a
funcoes.cpp
funcoes.h
pause.cpp
pontos.cpp
salverapaziada.cpp
segundotipodemenu.cpp
output/*
.vscode/
TeclasHarmonicas.exe
TESTEMONITOR.CPP
testenome.cpp
testeMusica.cpp
testenome.cpp
codigolimpo.cpp
cores2.cpp
salve4.cpp
timer.cpp